<!DOCTYPE html>
<html lang="en">
<head>
    <title>email verification</title>
</head>
<body>
    <h1>Hallo {{username}}</h1>
    <h2>Welcome to this website !</h2>
    <a href={{link}}>
        <button>Verify</button>
    </a>
</body>
</html>